.menu {
    width: fit-content;
    left: 124px;
    padding: 16px 16px 0 16px;
    gap: 16px;
    border-bottom: 1px;
    display: flex;
    flex-direction: column;

}

.action {
    width: fit-content !important;
    display: flex !important;
    align-items: flex-start !important;
    text-transform: none !important;
    color: black !important;
    font-size: 20px !important;
}

.button {
    width: 300px !important;
    border-radius: 40px !important;
    text-transform: none !important;
    font-size: 15px !important;
}